# Naive Bayes

Course: DS312 - Data Mining and Applications \
Instructor: Jhun Brian M. Andam

In [2]:
import seaborn as sns
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.preprocessing import LabelEncoder

### Load Dataset

In [3]:
df = pd.read_excel('data/sample_data.xlsx', sheet_name='data')
df

    day   outlook temperature humidity    wind play
0    d1     sunny         hot     high    weak   no
1    d2     sunny         hot     high  strong   no
2    d2  overcast         hot     high    weak  yes
3    d4      rain        mild     high    weak  yes
4    d5      rain        cool   normal    weak  yes
5    d6      rain        cool   normal  strong   no
6    d7  overcast        cool   normal  strong  yes
7    d8     sunny        mild     high    weak   no
8    d9     sunny        cool   normal    weak  yes
9   d10      rain        mild   normal    weak  yes
10  d11     sunny        mild   normal  strong  yes
11  d12  overcast        mild     high  strong  yes
12  d13  overcast         hot   normal    weak  yes
13  d14      rain        mild     high  strong   no

**Calculate the Prior Probabilities of the Categories**

In [8]:
prob_yes = df['play'].value_counts()['yes'] / len(df)
prob_no = df['play'].value_counts()['no'] / len(df)

In [18]:
# calculate the conditional probabilities of each attributes

pd.crosstab(df['outlook'], columns=df['play'])

play      no  yes
outlook
overcast   0    4
rain       2    3
sunny      3    2