# Laboratory Exercise 1
**Python Review (`pandas` x `numpy`)**

The objective of this exercise is to reinforce your foundational knowledge of Python and reestablish your skills about the libraries that are essential for data-driven tasks, including `numpy`, `pandas`, and `matplotlib`. Through this exercise, we will revisit fundamental Python concepts and engage in hands-on experience with data preprocessing techniques, which are crucial for data mining.

**Name:** \
**Date:**

## `Import Libraries`

- pandas
- numpy
- seaborn
- pyplot

In [1]:
# code here

## `Load Titanic Dataset`

*Use the link to access the dataset.*
- https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv

<table>
    <tr>
        <th>Variable</th>
        <th>Description</th>
        <th>Key</th>
    </tr>
    <tr>
        <td>PassengerId</td>
        <td>Passenger ID</td>
        <td></td>
    </tr>
    <tr>
        <td>Survived</td>
        <td>Survived the Titanic or not</td>
        <td>0=No, 1=Yes</td>
    </tr>
    <tr>
        <td>Pclass</td>
        <td>Ticket class</td>
        <td>1=1st, 2=2nd, 3=3rd</td>
    </tr>
    <tr>
        <td>Name</td>
        <td>Passenger's name</td>
        <td></td>
    </tr>
    <tr>
        <td>Sex</td>
        <td>Passenger's sex</td>
        <td></td>
    </tr>
    <tr>
        <td>Age</td>
        <td>Passenger's age</td>
        <td></td>
    </tr>
    <tr>
        <td>SibSp</td>
        <td>Numbers of siblings or spouses aboard</td>
        <td></td>
    </tr>
    <tr>
        <td>ParCh</td>
        <td>Numbers of parents or children aboard</td>
        <td></td>
    </tr>
    <tr>
        <td>Ticket</td>
        <td>Ticket number</td>
        <td></td>
    </tr>
    <tr>
        <td>Fare</td>
        <td>Passenger fare</td>
        <td></td>
    </tr>
    <tr>
        <td>Cabin</td>
        <td>Cabin number</td>
        <td></td>
    </tr>
    <tr>
        <td>Embraked</td>
        <td>Town of embarkation</td>
        <td>C=Cherbourg, Q=Queenstown, S=Southampton</td>
    </tr>
</table>

In [2]:
# code here

## `Descriptive Statistics`

Summary statistic that quantitatively describes or summarizes features from a collection of information, while descriptive statistics is the process of using and analysing those statistics.

### `Display the Dataset's Description`
*Display the measures of central tendency of the dataset (e.g. mean, median, mode).*

In [15]:
# code here

In [16]:
# utility function to plot a histogram from a pd.Series() object.

def make_hist(series, bins=20):
    plt.hist(series, bins=bins, ec='blue')
    plt.title(f"{series.name.capitalize()} Distribution")
    plt.xlabel(series.name.capitalize())
    plt.show()

### `Visualize the Age Distribution`
*Display correct title and axis labels.*

In [17]:
# code here

### `Iteratively Display the Histogram for Each Numerical Column`

In [18]:
# code here

## The Data Mining Process
<center><img src="figures/dm_process.png" width="700"></center>

## `Perform Data Cleaning`
Data cleaning involves a number of techniques including filling in the missing values manually, combined computer and human inspection, etc.

### `Display the Number of Missing Values for each Column`

In [11]:
# code here

<div class="alert alert-block alert-info"><b>Note: </b> There are two types of treating missing values in a dataset: <br>
1. Imputation - Filling missing values with a value e.g. mean, median, mode, zero or by using other techniques e.g. SMOTE or other ML algorithms.<br>
2. Dropping - Removing the rows with at least one missing data.</div>

**Sample Data:** 
|X |Y |
|--|--|
|14|27|
|13|29|
|23|49|
|19|37|
|21|31|
|25|40|
|18|35|
|22|NaN|
|18|NaN|
|28|NaN|
|25|NaN|
|17|NaN|

### `Make a DataFrame out of the Sample Data`

*Name it `sample_df1`* \
*Copy the `sample_df1` to a new variable called `sample_df2`*

In [12]:
# code here

**1. Imputation** \
Replaces `NaN` (Not a Number) values with the `mean` of the non-missing values in the column (other values aside form the mean can also be used).
\begin{equation}
    NaN_{i,j} = \frac{\sum{x_j}}{n_j}
\end{equation}

Where:
- $NaN_{i,j}$ is the cell with the missing value in the $i$-th row and $j$-th column.
- $x_j$ are the cells with non-missing values in the $j$-th column.
- $n_j$ is the number of $x_j$ instances in the $j$-th column.

<div class="alert alert-block alert-warning">‚ö†Ô∏è Make sure that you named the sample data above as <code>sample_df1</code></div>

In [ ]:
# (ñ¶π·ØÖñ¶π)
# what happens here?

sums_j = 0
n_j = 0

for idx, row in sample_df1.iterrows():
    X = row['X']
    Y = row['Y']
    if np.isnan(Y) == False:
        sums_j += Y
        n_j += 1

avg = sums_j / n_j
print(f"Mean: {avg}")

In [ ]:
# ‚âñ‚Äø‚âñ
# what happens here?

for idx, row in sample_df1.iterrows():
    X = row['X']
    Y = row['Y']
    if np.isnan(Y) == True:
        sample_df1.loc[idx, 'Y'] = avg

sample_df1

<div class="alert alert-block alert-info"><b>Remember:</b> You can also use other methods such as median imputation, mode imputation and other methods, but of course there needs to be a factor that one should consider upon imputation.</div> 

Our implementation above for imputing missing values is actually impractical and unnecessary because there are built-in attributes in the `pd.DataFrame` that can do the mean  imputation automatically. The code above is judt for you to visualize and appreiate how imputation works.

### `Impute the sample_df1`

*Use the `pd.DataFrame` built-in method called `fillna()`, and use the `avg` as the parameter.*

In [13]:
# code here

### `Dropping rows with null values`
*Use the `sample_df2` for this item, use the `pd.DataFrame` built-in method called `dropna()`*

**2. Dropping** \
Removing the entire row of instance with at least one missing value.

In [14]:
# code here

<div class="alert alert-block alert-info"><b>Remember:</b> Cleaning don't just involve treating missing values, data cleaning also involves removing of duplicate instaces, fixing variable data types, fixing faulty records and others.</div>

## `Data Integration`

This includes clubbing of similar data together and to negate the differences in the data. It involves accessing different databases and extracting information from various trusted sources and clubbing them together. This process will give meaning to the unstructured data by framing it in a way that can be understood.

### `Cite Examples of Data Integration for Titanic Dataset`

Answer here:

## `Perform Data Cleaning for the Titanic Dataset`

In [ ]:
# should we peform imputation or dropping?

pd.DataFrame(df.isna().sum(), columns=['Missing Values'])

### `Display Age Distribution`
*Use correct title and axis labels.*
*Display as well the mean, median and the mode from the distribution plot using `plt.axvline()`*

### `Should we Perform Scalar Imputation?`

<img src="figures/uhh.gif" width="350">

*Any assumptions?*

### `Perform Bootstrap Sampling Method`

<center><img src="figures/bootstrap.png" width="600"></center>

*set the random seed to 42* \
*display the histogram for the resampled data.*

In [ ]:
# familiar? what happens here

idx = 0
_ = 0
for val in df['Age']:
    if np.isnan(val):
        df.loc[idx, 'Age'] = age_repl[_]
        _ += 1
    idx += 1

### `Treat Missing values for Cabin Variable`

In [ ]:
cabin_idx, cabin_vals = df['Cabin'].value_counts().index, df['Cabin'].value_counts().values
plt.figure(figsize=(5,30))
sns.barplot(y=cabin_idx, x=cabin_vals, orient='horizontal')
plt.title('Cabin Frequency Distribution')
plt.show()

### `Perform Bootstrap Sampling for Cabin`

In [ ]:
np.random.seed(42)
cabin_repl = np.random.choice(df['Cabin'].dropna(), size=df['Cabin'].isna().sum())

idx = 0
_ = 0
for val in df['Cabin']:
    if type(val) == float:
        df.loc[idx, 'Cabin'] = cabin_repl[_]
        _ += 1
    idx += 1

In [ ]:
pd.DataFrame(df.isna().sum(), columns=['Missing Values'])

<center><img src="figures/now_what.jpg" width="250"></center>

### `Save the DataFrame as CSV`

*We'll going to use that for another activity.*